@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.checkbox-wrapper-35 .switch {
  display: none;
}

.checkbox-wrapper-35 .switch + label {
  align-items: center;
  color: #c3baba;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  line-height: 15px;
  position: relative;
  user-select: none;
}

.checkbox-wrapper-35 .switch + label::before,
.checkbox-wrapper-35 .switch + label::after {
  content: "";
  display: block;
}

.checkbox-wrapper-35 .switch + label::before {
  background-color: #6d6c73;
  border-radius: 500px;
  height: 25px;
  margin-right: 8px;
  transition: background-color 0.125s ease-out;
  width: 48px;
}

.checkbox-wrapper-35 .switch + label::after {
  background-color: #fff;
  border-radius: 13px;
  box-shadow:
    0 3px 1px 0 rgba(37, 34, 71, 0.05),
    0 2px 2px 0 rgba(37, 34, 71, 0.1),
    0 3px 3px 0 rgba(37, 34, 71, 0.05);
  left: 5.3px;
  position: absolute;
  top: 2px;

  transition: transform 0.125s ease-out;

  height: 20px;
  width: 20px;
}

.checkbox-wrapper-35 .switch + label .switch-x-text {
  display: block;
  margin-right: 0.3em;
}

.checkbox-wrapper-35 .switch + label .switch-x-toggletext {
  display: block;
  font-weight: bold;
  height: 15px;
  overflow: hidden;
  position: relative;
  width: 25px;
}

.checkbox-wrapper-35 .switch + label .switch-x-unchecked,
.checkbox-wrapper-35 .switch + label .switch-x-checked {
  left: 0;
  position: absolute;
  top: 0;

  transition: opacity 0.125s ease-out;
  transition: transform 0.125s ease-out;
}

.checkbox-wrapper-35 .switch + label .switch-x-unchecked {
  opacity: 1;
  transform: none;
}

.checkbox-wrapper-35 .switch + label .switch-x-checked {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}

.checkbox-wrapper-35 .switch + label .switch-x-hiddenlabel {
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper-35 .switch:checked + label::before {
  background-color: #be2929;
}

.checkbox-wrapper-35 .switch:checked + label::after {
  transform: translate3d(19px, 0, 0);
}

.checkbox-wrapper-35 .switch:checked + label .switch-x-unchecked {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}

.checkbox-wrapper-35 .switch:checked + label .switch-x-checked {
  opacity: 1;
  transform: none;
}

/* ```````````````````````````````````````````````````````````````````````````` */

.button-19:active {
  background: none;
}

.button-19 {
  appearance: button;
  border: solid transparent;
  border-radius: 9px;
  border-width: 0 0 4px;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  overflow: visible;
  transform: translateZ(0);
  transition: filter 0.2s;
}

.button-19:after {
  background-clip: padding-box;
  border: solid transparent;
  border-radius: 9px;
  border-width: 0 0 4px;
  bottom: -5px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.button-19,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.4);
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

/* ```````````````````````````````````````````````````````````````````````````` */

/* Menggunakan selector untuk menyembunyikan input checkbox */
.checkbox-wrapper-54 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

/* Pseudo-element untuk ikon bulat pada slider */
.checkbox-wrapper-54 .slider:before {
  content: "";
  position: absolute;
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 50%;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

/* Saat checkbox dicentang, ubah latar belakang slider */
.checkbox-wrapper-54 input:checked + .slider {
  background-color: #303136;
}

/* Saat checkbox dicentang, ubah posisi dan gaya ikon slider */
.checkbox-wrapper-54 input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  box-shadow:
    inset -3px -2px 5px -2px #8983f7,
    inset -10px -4px 0 0 #a3dafb;
}
